header, main, footer {
  /* uncomment this when using the sidenav-fixed styling that will keep the
   * sidenav displayed when the window is wide enough
   */
  /*padding-left: 300px;*/
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.multipaneChart {
  /*max-width: 100%;
  min-width: 30%;
  margin: 10px;*/
}

.dataChart-title {
  color: rgba(240, 240, 240, 0.6);
  font-size: 2em;
}

.container-buttons {
  padding: 2px;
  /*border: 1px dotted steelblue;*/
}
.container-buttons button {
  margin: 2px;
  padding: 0 4px;
}

pre.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
pre.preserve-whitespace {
    white-space: pre-wrap;
}
pre {
    font-size: 0.9em;
}
pre.mini {
  font-size: 0.8em;
  height: 30px;
  max-height: 30px;
  overflow: scroll;
}
pre.mini::-webkit-scrollbar {
    height: 4px;
    width: 8px;
    background-color: rgb(25, 200, 190);
    -webkit-border-radius: 1ex;
}

pre.mini::-webkit-scrollbar-thumb {
    background: rgb(25, 100, 70); /*#442;*/ /*#393812;*/
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgb(25, 200, 190);
}

pre-mini::-webkit-scrollbar-corner {
    background-color: rgb(25, 200, 190);
}



.control-group {
  margin-bottom: 1px;
  border: 1px solid rgb(221,221,221);
}
/* not implemented right now
.text-input-pair {
  margin: 0;
  border: 1px solid rgb(221,221,221);
}*/

/* Group items, like controlGroups */
.control-group.col {
  padding: 0;
  margin-bottom: 4px;
}
#divCtrlGrp.row {
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(200,200,200);
  margin-bottom: 2px;
}
#controlPortButtonsFromFileDiv input[type=text] {
  margin-bottom: 2px;
  margin-right: 2rem;
  height: 2.4rem;
}
#controlPortButtonsFromFileDiv .col.s2 {
  padding-right:0;
}
#controlPortButtonsFromFileDiv .col.s1 {
  padding-left:2px;
}
#controlPortButtonsFromFileDiv .row {
  margin-top: 4px;
}
#container-buttons .collapsible-body a.collapsible-header {
  margin-right: 0;
  color: #029ae4;
  text-transform: none;
}
#sendButton {
  height: 3rem;
}
#sendButtonSpan {
  padding-right: 0;
}
p.control-group {
  background-color: #c7ebe8;
  font-weight: 300;
  font-size: 1.2em;
}
p.custom-control-section {
  font-size: 1.3em;
  font-weight: 500;
  padding-top: 4px;
}
p.custom-control-section .switch {
  padding-left: 20px;
}

#active_ports_ui_buttons {
  /* Indent from the left so that the pulse class attribute doesn't
   * cycle the scroll bars on and off each pulse
   */
  padding-left: 40px;
}

#active_ports_ui_status_indicators .btn-small {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  margin-left: 4px;
}

#active_ports_ui_status_indicators {
  /*padding-bottom: 12px;*/ /* use if have title in the section */
  /* As above, pad the right generously so that the pulse class doesn't
   * cycle the scroll bars contiually on and off
   */
  /* top right bottom left */
  padding: 4px 40px 4px 4px;
}

#divTextInputRow input[type="range"] {
  margin: 3px 0 10px;
}

#divControlActionLog {
  display: inline;
}



/* This is the default side nav popout/in breakpoint */
/*@media only screen and (max-width: 992px) {*/
/*@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
}*/ /* TODO this doesn't override ... */





@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 2px;
  }
}















/* rot dropdown icons */
/* match any nested accordions */
li.active > a.collapsible-header i.sidenav-dd-expand {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}







/* Materializecss overrides */

/* Some general condensing */
html {
  line-height: 1.1;
}

/* Header showing App name and click = reload */
nav {
  line-height: 24px;
  height: 24px;
}
a.brand-logo {
  font-size: 1rem;
}

/* Condense the collapsible real estate a bit */
.collapsible {
  /* top right bottom left */
  margin: 0.5rem 0 0.5rem 0;
}
a.collapsible-header {
  /*       vert  horiz         */
  /*       top   horiz   bott  */
  padding: 0.3em 1em;
  text-transform: uppercase;
}
/* Line up the icons with the text */
.collapsible-header i {
  vertical-align: bottom;
  font-size: 14px !important;
}
.collapsible-body {
  padding: 0.5rem;
}

/* Condense the card content a bit */
.card .card-content {
  padding: 12px;
}
.card .card-content .card-title {
  line-height: 14px;
  margin-bottom: 4px;
}
.card .card-title {
  font-size: 14px;
  font-weight: 200;
}
.card .card-action {
  padding: 4px;
}

/* Condense text inputs a bit */
.input-field .prefix ~ input {
  height: 1.5rem;
  margin-bottom: 1px;
}
.input-field {
  margin-bottom: 0;
}
.input-field .helper-text {
  min-height: 8px;
}

/* General layout condensing */
.row {
  margin-bottom: 0;
}

/* Switches */
.switch {
  display: inline-block;
}

/* Progress */
.progress {
  margin: 4px;
  width: 95%;
}


/* End: Materializecss overrides */














/* Chart */
path {
    stroke: steelblue;
    /*stroke-width: 2;*/
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    /*stroke-width: 1;*/
}
/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

/* Part of responsive svg handling */
.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /*height: 100%;*/
  padding-bottom: 33%; /* aspect ratio - update for graph init dims */
  vertical-align: top;
  /*overflow: hidden;*/
}
.svg-content-responsive {
  display: inline-block;
  position: absolute; /*absolute;*//* absolute breaks parent expanding to fit this child */
  top: 0px;
  /*left: 0; */
}

/* End: Chart */
