header, main, footer {
  padding-left: 300px;
}

.container-buttons {
  padding: 4px;
  /*border: 1px dotted steelblue;*/
}
.container-buttons button {
  margin: 4px;
  /*padding: 4px;*/
}

pre.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
pre.preserve-whitespace {
    white-space: pre-wrap;
}
pre {
    font-size: 0.9em;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 2px;
  }
}

/* rot dropdown icons */
li.active a.collapsible-header i.sidenav-dd-expand  {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}


/* Chart */
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 1;
}
/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
/* End: Chart */
